$bg-color-primary: white;
$bg-color-secondary: #f6f6f6;

$placeholder-text: #949494;

$font-family-price: 'Roboto', sans-serif;
$font-family-title: 'Open Sans', sans-serif;
$font-family-text: 'PT Serif', serif;