@import "../../styles/variables.scss";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    width: 360px;
    padding: 35px 25px;
    &--logo {
        width: 80px;
    }
    &--input {
        width: 190px;
        height: 25px;
        background-color: $bg-color-secondary;
        border: none;
        border-radius: 8px;
        padding-left: 10px;
        &::placeholder {
            color: $placeholder-text;
        }
    }

    @media all and (min-width: 700px) {
        width: 700px;
    }

    @media all and (min-width: 1050px) {
        width: 1050px;
    }

    @media all and (min-width: 1400px) {
        width: 1400px;
    }

}